@use "utils" as *;
@use "nav";
@use "hero";
@use "about";
@use "projects";
@use "skills";
@use "socials";

body {
  min-height: 100vh;
  background-color: var(--primary);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cta {
  font-size: rem(16);
  font-weight: 500;

  background: linear-gradient(90deg, var(--gradientStart), var(--gradientEnd));
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--tertiary);
  transition: 250ms ease-in-out;
  border: 0;

  @include breakpoint(large) {
    &:hover {
      background: var(--tertiary);
      color: var(--secondary);
    }
  }

  @include breakpoint-down(medium) {
    &:active {
      background: var(--tertiary);
      color: var(--secondary);
    }
  }
}
